<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Password Changed
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Your password has been successfully changed. If it was not you who initiated this change, please click the link below to secure your account.
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="{{frontUrl}}/secure-account?token={{actionToken}}">Secure Your Account</a>
        </td>
    </tr>
</table>